.column-patients {
  display: flex;
  flex-direction: column; /* Ensure children stack vertically */
  border-radius: 16px;
  background: var(--unnamed-color-ffffff);
  background: #FFFFFF;
  overflow: hidden;
  height: 100%; /* Ensure it takes full height of its container */
}

.patient-list-container{
  height: 1250px;
  overflow-y: scroll;
  margin-right: 5px;
  margin-left: -10px;
}

.patient-gender{
  color: var(--unnamed-color-707070);
  text-align: left;
  font: normal normal normal 14px/19px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.menu-dots {
  font-size: 20px; 
  cursor: pointer;
  color: #072635;
  opacity: 1;
}

.patient-title {
  height: 33px;
  font: normal normal 800 24px/33px;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0px 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.search-icon {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.patient-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}
  
.patient-item {
  height: 48px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px;
  margin-left: 20px;
}

.patient-item.active{
  background: var(--activestate_bg_2) 0% 0% no-repeat padding-box;
  background: #D8FCF7 0% 0% no-repeat padding-box;
  opacity: 1;
}
  
.patient-profile-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}
  
.patient-details {
  flex: 1;
}
  
.patient-details p {
  margin: 0;
  font-size: 14px;
}
  
.patient-details strong {
  font-weight: bold;
}
  